* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.viewfinder {
  background: linear-gradient(#bfcdd0, #dde9ed);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.viewfinder__card {
  position: relative;
  background-color: #ffffff;
  width: 240px;
  font-family: 'Open Sans', sans-serif;
}

.viewfinder__photo {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.viewfinder__card-title {
  display: flex;
}

.viewfinder__card-title-titlebox {
  display: flex;
  flex-direction: column;
}

.viewfinder__card-title-rectangule {
  height: 42px;
  width: 5px;
  background-color: #438792;
  margin: 20px 15px 0 0;
}

.viewfinder__card-title-name {
  padding: 20px 14px 5px 0px;
  font-family: 'Comic Sans MS', 'Comic Sans', 'TSCu_Comic', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #114e4e;
}

.viewfinder__card-title-job {
  padding: 0 14px 5px 0px;
  font-family: 'Comic Sans MS', 'Comic Sans', 'TSCu_Comic', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #54585a;
  font-weight: normal;
}

.viewfinder__icons {
  display: flex;
  align-items: center;
  height: 52px;
  border-bottom: 2px solid rgba(67, 135, 146, 0.2);
}

.viewfinder__icons-box {
  margin-left: 10px;
  border-radius: 22px;
  border: 2px solid #a2deaf;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #114e4e;
}

.viewfinder__icons-link {
  color: inherit;
}

.palette1 .viewfinder__card-title-rectangule {
  background-color: #438792;
}

.palette1 .viewfinder__card-title-name {
  color: #114e4e;
}

.palette1 .viewfinder__icons {
  border-bottom-color: rgba(67, 135, 146, 0.2);
}

.palette1 .viewfinder__icons-box {
  border: 2px solid #a2deaf;
  color: #114e4e;
}

.palette2 .viewfinder__card-title-rectangule {
  background-color: #bd1010;
}

.palette2 .viewfinder__card-title-name {
  color: #420101;
}

.palette2 .viewfinder__icons {
  border-bottom-color: rgba(189, 16, 16, 0.2);
}

.palette2 .viewfinder__icons-box {
  border: 2px solid #e95626;
  color: #420101;
}

.palette3 .viewfinder__card-title-rectangule {
  background-color: #eab052;
}

.palette3 .viewfinder__card-title-name {
  color: #3e5b65;
}

.palette3 .viewfinder__icons {
  border-bottom-color: rgba(223, 229, 235, 0.2);
}

.palette3 .viewfinder__icons-box {
  border: 2px solid #a0c0cf;
  color: #3e5b65;
}

.typography1 .viewfinder__card-title-name {
  font-family: 'Montserrat', sans-serif;
}

.typography1 .viewfinder__card-title-job {
  font-family: 'Montserrat', sans-serif;
}
