.preview {
  background: rgb(188, 221, 220);
  background: linear-gradient(
    to bottom,
    rgba(188, 221, 220, 1),
    rgba(244, 245, 245, 1)
  );
  padding: 88px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    margin: 20px 40px 20px 30px;
    justify-content: center;
    width: 48vw;
    border-radius: 6px;
  }
  @media (min-width: 1200px) {
    width: 60vw;
  }
  &__reset {
    height: 30px;
    width: 75px;
    border: none;
    border-radius: 50px;
    border: 1px solid $whiteFour;
    color: $whiteFour;
    font-size: 1.2rem;
    transform: translate(135px, -20px);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    color: $whiteFour;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    outline: 2px solid $turquoise;
    font-family: $fontOpenSans;
    letter-spacing: 0.05em;
    background: linear-gradient(
      to left,
      rgba(72, 214, 196, 1),
      rgba(7, 172, 151, 1)
    );
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    @media (max-width: 320px) {
      transform: translate(80px, -20px);
    }
    &:hover {
      color: $charcoal;
      transform: scale(1.1);
      outline: 1px solid $whiteFour;
      border: 1px solid $charcoal;
      box-shadow: 4px 5px 17px -4px #268391;
      transform: translate(135px, -20px);
    }
    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $whiteFour;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
    &:hover::before {
      width: 250%;
    }
  }
}

.card {
  background-color: $whiteTwo;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 350px;
  display: flex;
  align-items: center;
  @media (max-width: 320px) {
    width: 215px;
    flex-direction: column;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 42px;
    border-left: 3px solid $dirtyBlue;
    margin: 21px 0px 10px 0;
  }
  &__name {
    margin-left: 10px;
    font-family: $fontMontserrat;
    font-weight: bold;
    font-size: 1.8rem;
    color: $darkGreenBlue;
  }
  &__job {
    margin-left: 10px;
    font-family: $fontMontserrat;
    font-weight: normal;
    font-size: 1.6rem;
    color: $gunMetal;
  }
}
.profile__image {
  // background-image: url(/images/ImageBackground.jpg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  padding: 5px;
}

.nav {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  &__links {
    padding: 5px;
    &--icon {
      font-size: 1.8rem;
      justify-content: start;
      color: $darkGreenBlue;
      padding: 5px;
      border: 2px solid $hospitalGreen;
      border-radius: 50%;
    }
  }
}
