.design {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  border-color: transparent;
  border-bottom: 1px solid $whiteThree;
  @media (min-width: 768px) {
    margin: 0 30px 0 40px;
  }
}

.coloursSection {
  color: $gunMetal;
  font-size: 1.4rem;
  font-family: $fontOpenSans;
  padding-left: 39px;
  text-transform: uppercase;
  font-weight: lighter;
  &__options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-color: transparent;
    gap: 20px;
    margin-bottom: 18px;
  }
}

.optionPalette {
  display: flex;
  &__input {
    margin-right: 10px;
    cursor: pointer;
  }
  &__colorDark {
    @include colorOption($darkGreenBlue);
  }
  &__colorDirty {
    @include colorOption($dirtyBlue);
  }
  &__colorHospital {
    @include colorOption($hospitalGreen);
  }
  &__colorDried {
    @include colorOption($driedBlood);
  }
  &__colorRusty {
    @include colorOption($rustyRed);
  }
  &__colorTomato {
    @include colorOption($tomato);
  }
  &__colorSlate {
    @include colorOption($slate);
  }
  &__colorFaded {
    @include colorOption($fadedOrange);
  }
  &__colorLight {
    @include colorOption($lifeGreyBlue);
  }
}

.borderbottom {
  background-color: $whiteThree;
  height: 1px;
  margin: 0 20px;
}
.palette1 {
  .card {
    &__name {
      color: $darkGreenBlue;
    }
    &__data {
      border-color: $dirtyBlue;
    }
  }
  .nav__links--icon {
    border-color: $hospitalGreen;
  }
}

.palette2 {
  .card {
    &__name {
      color: $driedBlood;
    }
    &__data {
      border-color: $rustyRed;
    }
  }
  .nav__links--icon {
    border-color: $tomato;
  }
}

.palette3 {
  .card {
    &__name {
      color: $slate;
    }
    &__data {
      border-color: $fadedOrange;
    }
  }
  .nav__links--icon {
    border-color: $lifeGreyBlue;
  }
}
