.landing {
  background: rgb(188, 221, 220);
  background: linear-gradient(
    to bottom,
    rgba(188, 221, 220, 1),
    rgba(244, 245, 245, 1)
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 40px;
  color: $charcoal;

  @media (min-width: 768px) {
    height: 90vh;
  }
  &__logo {
    width: 320px;
    @media (min-width: 768px) {
      width: 400px;
    }
  }

  &__title {
    font-family: $fontMerriweather;
    font-size: 19.5px;
  }
  &__text {
    font-family: $fontOpenSans;
    font-size: 1.28rem;
    margin: 0 28px 18px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: $charcoal;
    font-size: 2.24rem;
    gap: 24px;
    border: solid 1.6px $colorBlack;
    border-radius: 4px;
    padding: 30px;
    height: 74px;

    &--options {
      color: $charcoal;
      font-family: $fontOpenSans;
      font-size: 1.28rem;
    }
  }
  &__button {
    background-color: transparent;
    font-family: $fontOpenSans;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $charcoal;
    border: 2px solid $whiteFour;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    color: $whiteFour;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    outline: 2px solid $turquoise;
    letter-spacing: 0.05em;
    background: linear-gradient(
      to left,
      rgba(72, 214, 196, 1),
      rgba(7, 172, 151, 1)
    );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    &:hover {
      color: $charcoal;
      transform: scale(1.1);
      outline: 1px solid $whiteFour;
      border: 1px solid $charcoal;
      box-shadow: 4px 5px 17px -4px #268391;
    }
    &::before {
      content: "";
      position: absolute;
      left: -50px;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $whiteFour;
      transform: skewX(45deg);
      z-index: -1;
      transition: width 1000ms;
    }
    &:hover::before {
      width: 250%;
    }
    @media (min-width: 768px) {
      margin-bottom: 59px;
    }
  }
}
