.landing {
  background: linear-gradient(to bottom, $peach, $selectiveYellow);
  height: 82vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 40px;
  color: $colorBlack;
  @media (min-width: 768px) {
    height: 90vh;
  }
  &__image {
    width: 320px;
    @media (min-width: 768px) {
      width: 400px;
    }
  }
  &__title {
    font-family: $fontMerriweather;
    font-size: 19.5px;
  }
  &__text {
    font-family: $fontOpenSans;
    font-size: 1.28rem;
    margin: 0 28px 18px;
  }
  &__items {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    color: $colorBlack;
    font-size: 2.24rem;
    gap: 24px;
    border: solid 1.6px $colorBlack;
    border-radius: 4px;
    padding: 30px;
    height: 74px;

    &--options {
      color: $gunMetal;
      font-family: $fontOpenSans;
      font-size: 1.28rem;
    }
  }
  &__button {
    background-color: transparent;
    font-family: $fontOpenSans;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #333;
    border: 2px solid #252525;
    border-radius: 30px;
    text-decoration: none;
    padding: 12px 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
    &:hover {
      background-color: $mintGreen;
      border: none;
      color: black;
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
    }
    @media (min-width: 768px) {
      margin-bottom: 59px;
    }
  }
}
