<fieldset class="formDesign js-fieldset">
  <section class="formTitle js-options js-design">
    <span class="formTitle__icon"
      ><i class="fa-regular fa-object-ungroup"></i
    ></span>
    <p class="formTitle__text">Diseña</p>
    <span class="formTitle__arrow"
      ><i class="fa-solid fa-chevron-up arrowUp"></i
    ></span>
  </section>
  <div class="colours container">
    <p>Colores</p>
    <section class="section">
      <div class="section__option palette1">
        <input
          type="radio"
          name="select"
          class="js_palette1 js-select1 section__option--input1"
          value="1"
          checked
        />
        <div class="section__option--colorDark"></div>
        <div class="section__option--colorDirty"></div>
        <div class="section__option--colorHospital"></div>
      </div>
      <div class="section__option palette2">
        <input
          type="radio"
          name="select"
          class="js_palette2 section__option--input2"
          value="2"
        />
        <div class="section__option--colorDried"></div>
        <div class="section__option--colorRusty"></div>
        <div class="section__option--colorTomato"></div>
      </div>
      <div class="section__option palette3">
        <input
          type="radio"
          name="select"
          class="js_palette3 section__option--input3"
          value="3"
        />
        <div class="section__option--colorSlate"></div>
        <div class="section__option--colorFaded"></div>
        <div class="section__option--colorLight"></div>
      </div>
    </section>
  </div>
</fieldset>
