<fieldset class="design formDesign js-fieldset">
  <section class="title js-options js-design">
    <span class="title__icon"
      ><i class="fa-regular fa-object-ungroup"></i
    ></span>
    <p class="title__text">Diseña</p>
    <span class="title__arrow"
      ><i class="fa-solid fa-chevron-up arrowUp"></i
    ></span>
  </section>
  <section class="coloursSection container">
    <p>Colores</p>
    <aside class="coloursSection__options">
      <div class="optionPalette palette1">
        <input
          type="radio"
          name="select"
          class="js_palette1 js-select1 optionPalette__input"
          value="1"
          checked
        />
        <div class="optionPalette__colorDark"></div>
        <div class="optionPalette__colorDirty"></div>
        <div class="optionPalette__colorHospital"></div>
      </div>
      <div class="optionPalette palette2">
        <input
          type="radio"
          name="select"
          class="js_palette2 optionPalette__input"
          value="2"
        />
        <div class="optionPalette__colorDried"></div>
        <div class="optionPalette__colorRusty"></div>
        <div class="optionPalette__colorTomato"></div>
      </div>
      <div class="optionPalette palette3">
        <input
          type="radio"
          name="select"
          class="js_palette3 optionPalette__input"
          value="3"
        />
        <div class="optionPalette__colorSlate"></div>
        <div class="optionPalette__colorFaded"></div>
        <div class="optionPalette__colorLight"></div>
      </div>
    </aside>
  </section>
</fieldset>
