<fieldset class="share js-fieldset hidden">
    <section class="title js-options js-share">
        <span class="title__icon"><i class="fa-solid fa-share-nodes"></i></span>
        <p class="title__text">Comparte</p>
        <span class="title__arrow"><i class="fa-solid fa-chevron-up arrowUp"></i></span>
    </section>
    <section class="containerButton container">
        <button class="share__btn js-createBtn">
            <i class="fa-regular fa-address-card "> </i></span>
           Crear tarjeta
        </button>
        <!-- En este div de abajo faltaría la clase shareHidden. REVISAR -->
        <div class="link js-generateLink">
            <p class="link__error js-errorMsg"></p>
            <a class="link__linkCard js-linkCard"
                href=""  target="_blank"></a>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button twitterShare js-twitter"
            data-url= "" target="_blank" data-text= "Os comparto mi tarjeta de presentación" data-hashtags="adalab, Bcards" data-show-count="false"><i class="twitterShare__icon fa-brands fa-x-twitter"></i>Compartir en twitter</a>
        </div>
    </section>
</fieldset>
